@model List<Diary>

<h1>Index - diary</h1>
<div class="cointainer">
    <div class="row pt-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="Diaries" asp-action="Create"> Create new entry </a>
        </div>
        <div class="col-6">
            <h2>Diaries</h2>
        </div>
    </div>
</div>


<div class="table-resposive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Title</th> 
                <th>Content</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var diary in Model)
            {
                <tr>
                    <td>@diary.Id</td>
                    <td>@diary.Title</td>
                    <td>@diary.Content</td>
                    <td>@diary.Created</td>
                    <td>
                      <a class="btn btn-warning" asp-route-id="@diary.Id" asp-controller="Diaries" asp-action="Edit"> Edycja </a>
                      <a class="btn btn-warning" asp-route-id="@diary.Id" asp-controller="Diaries" asp-action="Destroy"> Usuń </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
